@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

/*
 * Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* Grid colors. */
  --clr-grid-purple: hsl(252, 66%, 62%);
  --clr-grid-orange: hsl(28, 89%, 67%);
  --clr-grid-pink: hsl(0, 78%, 79%);
  --clr-grid-red: hsl(7, 77%, 66%);
  --clr-grid-teal: hsl(172, 46%, 57%);
  --clr-grid-burgundy: hsl(314, 45%, 23%);
  /* Other. */
  --clr-black: hsl(0, 0%, 1%);
  --clr-gray: hsl(30, 5%, 45%);
  --clr-provincial-pink: hsl(28, 100%, 97%);
  --clr-attribution-blue: hsl(212, 95%, 48%);
  --ff-primary: "Plus Jakarta Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--clr-provincial-pink);
  color: var(--clr-gray);
  font-weight: 500;
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button:active {
  transform: translateY(2px);
}

.header,
.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.375rem;
}

.header__logo,
.main__header--logo {
  width: 3rem;
}

.header__cta,
.main__header--cta {
  background-color: var(--clr-black);
  border-radius: 1.75rem;
  color: var(--clr-provincial-pink);
  font-weight: 700;
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding: 0.5rem 1.75rem;
}

.main__about--pfp {
  width: 20px;
}